In [23]:
#Task 1
import pandas as pd

data = pd.read_excel('./data/Excel_datset_export_2022-12-21.xlsx')
data['DateTime'] = pd.to_datetime(data['Date'])

data['Date'] = data['DateTime'].dt.date
data['Seconds'] = data['DateTime'].dt.second



data.head

<bound method NDFrame.head of         Timestamp(seconds)        Date   R1     R5  R1.1   R2     R4  NV1  \
0            1669852809000  2022-12-01  1.0  171.2   0.9 -1.2  433.2  0.0
1            1669852824000  2022-12-01  0.9  170.9   1.0 -0.6  427.2  0.0
2            1669852839000  2022-12-01  1.5  162.4   1.2 -0.7  423.2  0.0
3            1669852854000  2022-12-01  1.0  169.9   1.2 -1.2  414.6  0.0
4            1669852869000  2022-12-01  1.0  165.7   1.3 -0.7  412.6  0.0
...                    ...         ...  ...    ...   ...  ...    ...  ...
105215       1671629847000  2022-12-21  0.9  375.7   0.7 -0.7  495.9  0.0
105216       1671629862000  2022-12-21  1.3  378.8   0.7 -1.3  496.1  0.0
105217       1671629877000  2022-12-21  1.2  376.5   0.6 -0.9  495.6  0.0
105218       1671629892000  2022-12-21  1.3  375.8   0.7 -1.0  495.9  0.0
105219       1671629907000  2022-12-21  0.9  372.8   1.2 -0.7  495.9  0.0

        NV2            DateTime  Seconds
0       0.0 2022-12-01 00:00:09        9
1       0.0 2022-12-01 00:00:24       24
2       0.0 2022-12-01 00:00:39       39
3       0.0 2022-12-01 00:00:54       54
4       0.0 2022-12-01 00:01:09        9
...     ...                 ...      ...
105215  0.0 2022-12-21 13:37:27       27
105216  0.0 2022-12-21 13:37:42       42
105217  0.0 2022-12-21 13:37:57       57
105218  0.0 2022-12-21 13:38:12       12
105219  0.0 2022-12-21 13:38:27       27

[105220 rows x 11 columns]>

In [49]:
#Task 2
NO_OF_SECONDS_IN_A_DAY = 86400
columns = data.columns.to_list()
new_cols = []

def calculate_total_working_hours_per_day(compressor_id):
    compressor_data = data[['Date',compressor_id,'Seconds']]
    filtered_compressor_data = compressor_data[compressor_data[compressor_id]>10]
    result = filtered_compressor_data.groupby('Date')['Seconds'].sum()/ NO_OF_SECONDS_IN_A_DAY
    result= result.rename(f"Total Operating Hours for {compressor_id}")
    return np.round(result,0)

for compressor_id in columns[2:9]:
    new_cols.append(calculate_total_working_hours_per_day(compressor_id))

df = pd.concat(new_cols, axis=1)
df

,Total Operating Hours for R1,Total Operating Hours for R5,Total Operating Hours for R1.1,Total Operating Hours for R2,Total Operating Hours for R4,Total Operating Hours for NV1,Total Operating Hours for NV2
Date,,,,,,,
2022-12-01,NaN,2.0,NaN,0.0,2.0,0.0,NaN
2022-12-02,NaN,2.0,NaN,0.0,2.0,0.0,0.0
2022-12-03,NaN,2.0,NaN,NaN,2.0,NaN,NaN
2022-12-04,NaN,2.0,NaN,NaN,2.0,NaN,NaN
2022-12-05,NaN,2.0,NaN,0.0,2.0,NaN,NaN
2022-12-06,NaN,2.0,NaN,0.0,2.0,0.0,NaN
2022-12-07,NaN,2.0,NaN,0.0,2.0,NaN,NaN
2022-12-08,NaN,1.0,NaN,NaN,2.0,0.0,1.0
2022-12-09,NaN,1.0,NaN,0.0,2.0,0.0,1.0
2022-12-10,NaN,2.0,NaN,0.0,2.0,NaN,NaN
2022-12-11,NaN,2.0,NaN,0.0,2.0,NaN,NaN
2022-12-12,NaN,1.0,0.0,0.0,1.0,0.0,NaN
2022-12-13,NaN,1.0,NaN,NaN,1.0,0.0,0.0
2022-12-14,NaN,1.0,NaN,0.0,1.0,0.0,NaN
2022-12-15,NaN,1.0,NaN,0.0,1.0,0.0,NaN
2022-12-16,NaN,2.0,NaN,1.0,2.0,0.0,0.0
2022-12-17,NaN,2.0,NaN,NaN,2.0,NaN,NaN
2022-12-18,NaN,2.0,NaN,0.0,2.0,NaN,NaN
2022-12-19,NaN,2.0,NaN,0.0,2.0,0.0,NaN
2022-12-20,NaN,2.0,NaN,0.0,2.0,NaN,NaN
2022-12-21,NaN,1.0,NaN,NaN,1.0,NaN,NaN